<?xml version="1.0" encoding="utf-8" ?>
<examine>
  <indexes>
    <!--<index name="ExampleIndex"
           path="~/App_Data/TEMP/ExamineIndexes/ExamplePath/"
           type="Examine.LuceneEngine.Providers.LuceneIndex, Examine"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net">
      <includeFields>
        <add name="CreatedDate"
             type="datetime"
             analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net" />
      </includeFields>
      <excludeFields>
        <add name="HiddenField" />
      </excludeFields>
    </index>-->
  </indexes>
  <searchers>
    <!--<searcher name="ExampleSearcher"
              indexName="ExampleIndex"
              type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />-->
  </searchers>
</examine>